@model osVodigiWeb6x.Models.Player

@{
    ViewBag.Title = "Edit";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("input:text:visible:first").focus();
    });
</script>


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <img src="~/Images/playergroup-icon.png" alt="" style="border-radius:8px 8px;width:50px" />
        Player Düzenle
        <small></small>
    </h1>
    <ol class="breadcrumb">
        @Html.ActionLink("Player Ekle", "Create")
        @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>*@
    </ol>
</section>
@using (Html.BeginForm())
{
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label>Player</label><span class="required">*</span>
                                    @Html.TextBoxFor(model => model.PlayerName, new { @class = "form-control", maxlength = 100 })
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label for="exampleInputEmail1">Açıklama</label>
                                @*<input type="text" class="form-control" placeholder="Player">*@
                                @Html.TextBoxFor(model => model.PlayerDescription, new { @class = "form-control", maxlength = 1024 })
                            </div>
                            <div class="col-xs-3">
                                <label for="exampleInputEmail1">Aktif</label>
                                <br />
                                @Html.EditorFor(model => model.IsActive)
                            </div>
                            <div class="col-xs-2">
                                <label for="exampleInputEmail1">MAC</label><span class="required">*</span>
                                <input type="text" class="form-control" placeholder="@Html.Raw((string)ViewData["MAC"])" disabled />
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->

                <div class="box-footer" style="text-align:center">
                    <button type="submit" class="btn btn-primary" onclick="ResetPageCount()">Kaydet</button>
                </div>

            </div><!-- /.box -->
        </div>
    </section>
    @Html.HiddenFor(model => model.PlayerGroupID)
    @Html.HiddenFor(model => model.AccountID)
}
