@model IEnumerable<osVodigiWeb6x.Models.ScreenWizardView>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" lang="javascript">
    $(function () {
        var pagenumber = $("#txtPageNumber").val();
        var pagecount = $("#txtPageCount").val();
        if (parseInt(pagenumber) == 1) {
            $("#linkPrevious").hide();
        }
        if (parseInt(pagenumber) == parseInt(pagecount)) {
            $("#linkNext").hide();
        }
    });
    function NextPage() {
        var pagenumber = $("#txtPageNumber").val();
        var pagecount = $("#txtPageCount").val();
        if (parseInt(pagenumber) < parseInt(pagecount)) {
            $("#txtPageNumber").val(parseInt(pagenumber) + 1);
            document.getElementById("formSearch").submit();
        }
    }
    function PreviousPage() {
        var pagenumber = $("#txtPageNumber").val();
        if (parseInt(pagenumber) > 1) {
            $("#txtPageNumber").val(parseInt(pagenumber) - 1);
            document.getElementById("formSearch").submit();
        }
    }
    function ResetPageCount() {
        $("#txtPageNumber").val(1);
    }
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <img src="~/Images/screen-icon.png" alt="" style="border-radius:8px 8px;width:50px" />
        Ekran
        <small></small>
    </h1>
    <ol class="breadcrumb">
        @Html.ActionLink("Ekran Ekle", "Step1", "ScreenWizard", new { id = 0 }, "")
        @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Simple</li>*@
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <form action="/Screen/Index" id="formSearch" method="post">
                <div class="box box-danger">
                    <div class="box-header">
                        <h3 class="box-title">Arama Kriterleri</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Ekran Adı</label>
                                    @Html.TextBox("txtScreenName", (string)ViewData["ScreenName"], new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Ekran Tipi</label>
                                    @Html.DropDownList("lstScreenTypeList", (SelectList)ViewData["ScreenTypeList"], new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-xs-6">
                                    <label for="exampleInputEmail1">İnAktifler Dahil</label>
                                    <br />
                                    @*<input type="checkbox" />*@
                                    @Html.CheckBox("chkIncludeInactive", (bool)ViewData["IncludeInactive"])
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer" style="text-align:center">
                        <button type="submit" class="btn btn-primary" onclick="ResetPageCount()">Ara</button>
                    </div>
                </div><!-- /.box -->
            </form>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ekran Listesi</h3>
                    <div class="box-tools">
                        <div class="input-group">
                            @*<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                </div>*@
                        </div>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        @using (Html.BeginForm("Index", "Screen", FormMethod.Post, new { id = "formSearch" }))
                        {
                            <tr>
                                <th>Aktif</th>
                                <th>Ekran Adı</th>
                                <th>Ekran Tipi</th>
                                <th></th>
                            </tr>

                            if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ScreenName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MainFeatureType)</td>
                                        <td>@Html.ActionLink("Düzenle", "Edit", new { id = item.ScreenID }, new { @class = "label label-success" })</td>
                                    </tr>
                                }
                            }
                        }
                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        @*<li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>*@
                        Sayfa @Html.Label((string)ViewData["PageNumber"]) of @Html.Label((string)ViewData["PageCount"]) (Toplam @Html.Label((string)ViewData["RecordCount"]) Kayıt)
                        @*<span id="linkPrevious" class="previousnext" onclick="PreviousPage();">Previous</span>&nbsp;&nbsp;
                            <span id="linkNext" class="previousnext" onclick="NextPage();">Next</span>*@
                    </ul>
                </div>
            </div><!-- /.box -->
        </div>
    </div>
</section>


@Html.Hidden("txtPageCount", ViewData["PageCount"])
@Html.Hidden("txtPageNumber", ViewData["PageNumber"])

}